

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 72px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 24px;
}

.btn {
    padding: 6px 16px;
    background: var(--red);
    height: 32px;
    color: white;
    font-weight: 500;
    margin-top: 20px;
    
}

@media screen and (max-width: 543px) {

    .btn {
        display: none;
    }
    
}